<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="Ivan Rimbaud" content="ActFund landing page">

    <title>Act Fund, the first act founding platform!</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

    <!-- Navigation -->

<nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img  id="logo" src="img/g.png">
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a href="#services">What is it?</a>
        </li>
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a href="#portfolio">Projects</a>
        </li>
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a href="#interested">Subscribe</a>
        </li>
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a href="#ngo">Charities</a>
        </li>
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a href="#contact">Contact</a>
        </li>
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a href="http://givago.co">GIVAGO</a>
        </li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>





    <!-- Header -->
    <header id="top" class="header">
        <div class="text-center">
            <h1>Act Fund</h1>
            <h3>Finance projects you <i class="fa fa-heart"></i> by giving your <i class="fa fa-clock-o"></i></h3>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>The first platform enabling you to fund unique projects by simply giving your time!</h2>
                    <p class="lead">No need to empty your wallet,<br>Just spare a minute!</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Three easy steps:</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-lightbulb-o fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Select</i></strong>
                                </h4>
                                <p>Members post their projects in need of fundraising. Simply select the one you love.</p>
                                <a data-toggle="modal" href="#myModal" class="btn btn-light">Learn More</a>


                                <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Select projects you love</h4>
      </div>
      <div class="modal-body">
        <p>ActFund is presenting many different projects that you can foundraise acting for a sponsor</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-video-camera fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Act</i></strong>
                                </h4>
                                <p>Watch a video, answer a survey or download an app from one of our sponsors. It’s that quick and easy.</p>
                                <a data-toggle="modal" href="#myModal2" class="btn btn-light">Learn More</a>


                                <!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dedicate 1 minute of your time</h4>
      </div>
      <div class="modal-body">
        <p>You now just have to dedicate one minute of your time for a sponsors. <br>You can download an app from your smartphone, answer surveys, or even watch short videos. <br>Every action you are doing for the sponsor will permit to finance the project you've selected.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-usd fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Done</strong>
                                </h4>
                                <p>The project you selected will receive 80% of what the sponsor paid.</p>
                                <a data-toggle="modal" href="#myModal3" class="btn btn-light">Learn More</a>


                                <!-- Modal -->
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">All done!</h4>
      </div>
      <div class="modal-body">
        <p>Why only 80% and not 100%? <br>The answer is easy: We got hosting to pay, devellopers and other fees such as marketing goodies for our comunity, fiding new partnership with sponsors...<br>At ActFund we are transparent, we tell you how much we are giving to the project & co</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
                            </div>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Projects</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/boat.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/project1.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/mac-glasses.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/party.jpeg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <!--<a href="#" class="btn btn-dark">View More Items</a> -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- Call to Action -->

  

    <aside id="interested" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Interested?</h3>

                            <form class="form-inline" role="form" action="//actfund.us12.list-manage.com/subscribe/post?u=6fc07dc8b2cbcc05e6c63d16c&amp;id=2204832c2c">
                                <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
                                <input type="submit" value="Follow Us" name="subscribe" id="mc-embedded-subscribe" class="btn btn-light">
                            </form>

                </div>
            </div>
        </div>
    </aside>





    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Fundraise your projects!</h1>
        </div>
    </aside>

<aside id="ngo" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Want to fundraise charities?</h3>

                         <a href="http://givago.co" class="btn btn-light">GIVAGO</a>
                         
                         

                </div>
            </div>
        </div>
    </aside>

    <!-- Footer -->
    <footer>
        <div id="contact" class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Act Fund</strong>
                    </h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker"></i>  <a href=:"https://www.google.com/maps/place/86+Percy+St,+Oxford,+Oxfordshire+OX4+3AD,+UK/@51.7413749,-1.2361106,17z/data=!3m1!4b1!4m2!3m1!1s0x4876c1480b16462f:0x5625e3dcd90c9873" </a>86 Percy Street<br>OX43AD, Oxford, England</li>
                        <li><i class="fa fa-phone fa-fw"></i> <a href="tel:+447554938537"></a> +44 (0) 7554 938537</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:ivan@actfund.co">ivan@actfund.co</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://facebook.com/givagocharity"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/givagocharity"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>

                        <li>
                            <a href="https://instagram.com/givagocharity"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                        </li>


                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Act Fund 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });


    });
});




    </script>

</body>

</html>
